:root {
    --system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --plum: #5e123a;
    --yellow-green: #d5f69f;
}

body {
    font-family: var(--system-font);
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background: var(--yellow-green);
    color: var(--plum);
}


h1 {
    --min-size: 3rem;
    --pref-size: 10vw;
    --max-size: 4.25rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
}
/* 
h2 {
    --min-size: 2rem;
    --pref-size: 8vw;
    --max-size: 2.75rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
} */

.categories-main h2 {
    --min-size: 2rem;
    --pref-size: 8vw;
    --max-size: 3rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
}

p {
    --min-size: 1rem;
    --pref-size: 3vw;
    --max-size: 1.125rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
}

.main-nav {
    background: var(--plum);
}

.main-nav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: .5rem 1rem;
    margin: 0 auto;
    color: var(--plum);
}

.main-nav nav .home-btn {
    color: var(--yellow-green);
    text-decoration: none;
    padding: .6rem;
    font-weight: 500;
    font-size: 20px;
}

.main-nav .home-btn:hover {
    text-decoration: underline;
    text-decoration-color: var(--yellow-green);
}

.main-nav nav .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    list-style: none;
}

.main-nav nav .nav-list li {
    margin-right: .5rem;
}

.main-nav nav .nav-list li a {
    text-decoration: none;
    padding: .6rem;
    color: var(--yellow-green);
    border: 1px solid var(--yellow-green);
}

.main-nav nav .nav-list li:hover a,
.main-nav nav .nav-list li:hover {
    color: var(--yellow-green);
    background: var(--plum);
    cursor: pointer;
    background: var(--yellow-green);
    color: var(--plum);
}

.welcome-block {
    background: var(--plum);
    height: 20rem;
    margin: 0;
    color: var(--yellow-green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0 auto;
}

.welcome-intro {
    background: var(--yellow-green);
    color: var(--plum);
    height: 10rem;
    position: relative;
    top: 2rem;
    width: clamp(10rem, 23rem, 25rem);
    max-width: fit-content;
    border: 4px solid var(--plum);
    padding: .5rem 1rem;
}

main {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 8rem auto;
}

main .collection-heading {
    margin-top: 5rem; 
    /* border-bottom: 2px solid var(--plum);  */
    max-width: fit-content;
}

.catergories-main {
    display: flex; 
    flex-direction: column;
}

.categories-main h2 {
    margin-top: 3rem;
}

.show h2 {
    margin-top: 1rem;
    --min-size: 1.5rem;
    --pref-size: 8vw;
    --max-size: 2rem;
    font-size: clamp(var(--min-size), var(--pref-size), var(--max-size));
}

.shows-collection {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2rem;
}

.shows-collection .show {
    background: var(--plum);
    padding: .5rem 1rem;
    color: var(--yellow-green);
    border-radius: .25rem;
}

.shows-collection .show .genre {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.shows-collection .show .genre li {
    margin-top: .8rem;
    margin-bottom: .5rem;
    margin-left: 0;
    margin-right: .5rem;
    
}
.shows-collection .show .genre li a {
    padding: .45rem .45rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: clamp(.9rem, 3vw, 1rem);
    border: 1px solid var(--yellow-green);
}

.link-to-wiki {
    text-decoration: none;
    color: var(--yellow-green);
}

.link-to-wiki:hover {
    text-decoration: underline;
    text-decoration-color: var(--yellow-green);
}

.shows-collection .show li a {
    color: inherit;
    text-decoration: none;
}

.shows-collection .show .genre li a:hover {
    cursor: pointer;
    background: var(--yellow-green);
    color: var(--plum) !important;
}

.shows-collection .show .genre li:hover {
    color: var(--plum);
}

.shows-collection .show .series-data p {
    margin-bottom: .5rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    text-align: center;
}

footer nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

footer nav ul li {
    margin-top: .75rem;
    margin-bottom: .5rem;
}

footer nav ul li a {
    padding: .6rem;
    color: var(--plum);
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--plum);
}

.four-oh-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 700px;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100vh;
    background: #26292b;
    color: #fff;
}

.four-oh-four ul li {
    margin: .5rem 0;
}

.four-oh-four h1,
.four-oh-four h2,
.four-oh-four p {
    color: #fff;
}

.four-oh-four a {
    color: #19C2FA !important;
}